/******************************************************/
/*Title aka Menu bar*/
/******************************************************/

#titlebar, .menubar-container {
    height:16px!important;
    min-height:16px!important;
    --tab-min-height:16px!important;
}

/*Fix menu height*/
#main-menubar {
    height:16px!important;
    padding:0px!important;

}

/*Fix zotero icon*/
.titlebar-icon {
    width:12px!important;
    height:12px!important;
    margin:1px!important;

}




/******************************************************/
/*Tab bar*/
/******************************************************/
/* Tab bar */
.tab {
    height: 28px !important;
    --height-of-fixed-components: 28px !important;
    padding-left: 4px !important;
    padding-right: 20px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 0.75rem !important;
    min-width: 226px !important;
    font-family: 'Roslindale Text' !important;
    box-sizing: border-box !important;
    border: 1px solid rgba(84, 51, 51, 0.461) !important; /* Using same RGB values as hover */
    transition: all 0.25s ease-in-out !important;
  }
  
  /* Tab hover effects */
  .tab:hover {
    font-size: 0.87em !important;
    min-width: 450px !important;
    background-color: #2f040433 !important;
    border: 1px solid rgb(82, 47, 47) !important; /* Same color, full opacity */
  }

/*Selected tab highlight*/
.tab.selected{
    font-size:0.87em!important;
background: rgba(187, 10, 10, 0.4)!important;
border: 1px solid rgba(255, 16, 16, 0.36)!important;
z-index:9999999!important;
min-width:450px;
width:450px;
}

/*Fix moving close button by swapping close button with icon*/
.tab-icon {
    position:absolute!important;
    right:4px!important
}
.tab-close {
    left:3px!important;
    width:20px!important;
    height:20px!important;
}

/*Prevent tab name from overlapping with close button*/
.tab-name {margin-inline-start:19px!important;
}

/*reduce tab name masking by half*/
.tab .tab-name.overflowing:dir(ltr) {
    mask-image:linear-gradient(to left, transparent 0px, var(--fill-primary) 11px)!important;
}


/*Smaller 'pinned tab' width ("My Library, selected collection)*/
.pinned-tabs{min-width:125px!important;
    width:125px!important;
    transition: all 0.25s ease-in-out !important;

}
.pinned-tabs .selected{min-width:125px!important;
    width:125px!important;
    transition: all 0.25s ease-in-out !important;

}
.pinned-tabs .selected:hover{min-width:200px!important;
    width:200px!important;
}
.pinned-tabs:hover{min-width:200px!important;
width:200px!important;}




/******************************************************/
/*Toolbar*/
/******************************************************/

/*Shorten toolbar height*/
.toolbar{min-height:29px!important;
    height:29px!important;
    max-height:29px!important;
}

/*Reduce toolbar button size*/
.toolbarbutton-icon {
    width: 20px !important;
    height: 20px !important;
    max-width: 20px!important;
}

/*smaller toolbar icons*/
#zotero-collections-toolbar toolbarbutton[type="menu"], #zotero-items-toolbar toolbarbutton[type="menu"], #zotero-item-pane-header toolbarbutton[type="menu"], #zotero-tabs-toolbar toolbarbutton[type="menu"] {
    width: 35px!important;
}




/******************************************************/
/*Items list*/
/******************************************************/

/*Remove some ellipses to save space*/
.virtualized-table .row{
    text-overflow:clip!important;
    overflow:clip!important;
    border: 1px solid transparent !important;
    transition: all 0.15s ease-in-out !important;
    font-family:'Archivo Narrow'!important;
    font-weight:300!important;
    mask-image:linear-gradient(to left, transparent 0px, var(--fill-primary) 10px)
}

/*Shade truncated text instead of ellipsis*/
.virtualized-table .cell, .drag-image-container .cell {
text-overflow:clip!important;
background: linear-gradient(to left,#00000033, transparent 25px)!important;
}

.virtualized-table .cell.first-column .cell-text, .virtualized-table .cell.primary .cell-text, .drag-image-container .cell.first-column .cell-text, .drag-image-container .cell.primary .cell-text {
    text-overflow:clip!important;
}

/*Hover effects*/
.row:hover { 
    background: rgb(26, 26, 26) !important;
    font-size:1.16em!important;
    z-index:9999999!important;
    border:1px solid rgba(69, 69, 69, 0.839)!important;
}

/*Highlight selected row*/
.virtualized-table .row.selected {
    font-size:1.14em!important;
background: rgba(187, 10, 10, 0.4)!important;
border-radius: 16px!important;
border: 1px solid rgba(255, 16, 16, 0.36)!important;
z-index:9999999!important;
}


/*Fade highlight unfocused selected row*/
.virtualized-table:not(:focus) .row.selected {
    background: rgba(255, 16, 16, 0.3)!important;
    z-index:9999999!important;
}





/******************************************************/
/*Left collection pane*/
/******************************************************/


/*Allow narrow collections pane*/
#zotero-collections-pane {
    min-width:50px!important;
color:grey!important;
    }

#zotero-collections-pane:hover {color:white!important;}


/*Shove "My Library" to the left*/
#collection-tree-row-0 {
margin-left: -15px!important;
}

/*Shove Collection list to the left*/
#zotero-collections-tree-container {
    margin-left:-27px!important;
    padding:0px!important;
    overflow-x: hidden!important;
 }

 /*Make folder icons smaller*/
#zotero-collections-tree .virtualized-table .row .icon-css:not(.twisty) {
        width:10px!important;
        height:10px!important;  
        margin-left:-5px!important;
}

/*Reduce gap between folder icon and item name*/
#zotero-collections-tree .cell.primary .cell-text {
    margin-left:0px!important;
}

 /*Fix oversized tag button*/
.tag-selector-filter-container .btn{
        padding:3px 4px!important;
}



/*Remove "..." from collections for extra display space*/
#zotero-collections-tree .cell.primary .cell-text{
    overflow:clip!important;
    text-overflow: clip!important;
}

#zotero-collections-tree-container .virtualized-table .row, .drag-image-container .row {
    width:110%!important;
}

/*Allow short tag selector*/
#zotero-tag-selector-container {min-height:10px!important;}





/***************************/
/*Right item/context pane*/
/***************************/

/*Allow narrow right side item/context panes*/
.item-pane {
    min-width:80px!important;
}
.zotero-item-pane-content {
    min-width:100px!important;
}
#zotero-context-pane {
    min-width:200px!important;
}
#zotero-context-pane-inner {
    min-width:200px!important;
}

/* Make draggable area for panes wider*/
.splitter{--draggable-size:15px!important;}

/*

#zotero-item-pane-content {background: #121212 !important; color: #FFFFFF !important;}

.virtualized-table .row{background: #121212 !important; color: #FFFFFF !important;}
.virtualized-table .row.highlighted {background: #383838 !important; color: #FFFFFF !important;}
*/

